#welcome.center
  Where would you like to get the weather?
#action-buttons.center
  %button{onclick: "location.href='/random'"}
    #random.button.center-child
      Random location
  %button{onclick: "location.href='/city'"}
    #city.button.center-child
      Specific location
