#welcome.center Forecast not found
#forecast.center Sorry, we couldn't find a forecast for the location you gave!  If you entered a city, try adding a country as well - for example "London, UK"

#action-buttons.center
  %button{onclick: "location.href='/'"}
    #back.button.center-child
      Go back!
